<div class="wrapper">
  <div class="container">
    <div class="btn btn-click"><a href="#" data-id="all">All</a></div>
    <div class="btn">
      <a href="#" data-id="blue">Blue</a>
    </div>
    <div class="btn">
      <a href="#" data-id="green">Green</a>
    </div>
    <div class="btn">
      <a href="#" data-id="purple">Purple</a>
    </div>
    <div class="btn">
      <a href="#" data-id="yellow">Yellow</a>
    </div>
  </div>

  <div class="blocks">
    <div class="container-card">
      <div class="card yellow" style="--clr: #d1e919"></div>
      <div class="card blue" style="--clr: #2a39b1"></div>
      <div class="card green" style="--clr: #109309"></div>
      <div class="card purple" style="--clr: #950aaa"></div>
    </div>

    <div class="container-card">
      <div class="card yellow" style="--clr: #d1e919"></div>
      <div class="card blue" style="--clr: #2a39b1"></div>
      <div class="card green" style="--clr: #109309"></div>
      <div class="card purple" style="--clr: #950aaa"></div>
    </div>

    <div class="container-card">
      <div class="card yellow" style="--clr: #d1e919"></div>
      <div class="card blue" style="--clr: #2a39b1"></div>
      <div class="card green" style="--clr: #109309"></div>
      <div class="card purple" style="--clr: #950aaa"></div>
    </div>

    <div class="container-card">
      <div class="card yellow" style="--clr: #d1e919"></div>
      <div class="card blue" style="--clr: #2a39b1"></div>
      <div class="card green" style="--clr: #109309"></div>
      <div class="card purple" style="--clr: #950aaa"></div>
    </div>
  </div>
</div>
